.chart-container {
    width: 100%;
    height: 400px;
    display: block;
    margin-top: 16px;
    margin-bottom: 16px;
    overflow-x: scroll;
    position: relative;

    .chart {
        height: 100%;
    }
}

.title-container {
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    .title {
        margin: 16px;
    }
    .buttons {
        margin-left: 16px;
    }
}

.placeholder-container {
    height: 400px;
}