<ion-header>
  <ion-toolbar>
    <ion-title>Stats</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="loading" class="placeholder-container">
    <app-loading></app-loading>
  </div>
  <ng-container *ngIf="!loading">
    <div class="title-container">
      <h1 class="title">Buy prices</h1>
      <div class="buttons">
        <ion-button>
          Reset zoom
        </ion-button>
      </div>
    </div>
    <div class="chart-container" *ngIf="buyData">
      <div class="chart">
        <canvas baseChart
          [datasets]="buyData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="buyLineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
    <div class="title-container">
      <h1 class="title">Sell prices</h1>
      <div class="buttons">
        <ion-button>
          Reset zoom
        </ion-button>
      </div>
    </div>
    <div class="chart-container" *ngIf="sellData">
      <div class="chart">
        <canvas baseChart
          [datasets]="sellData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="sellLineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>
    </div>
  </ng-container>
</ion-content>
