<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="grid-outline" size="small"></ion-icon>
      <ion-label>Summary</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="stats">
      <ion-icon name="stats-chart-outline" size="small"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="list-outline" size="small"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
