<ion-header>
  <ion-toolbar>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="loading === false">
    <div class="filter">
      <h4>Filter by date</h4>
      <input type="text"
        ngxDaterangepickerMd
        [locale]="{applyLabel: 'ok', format: 'DD-MM-YYYY'}"
        startKey="start"
        endKey="end"
        [(ngModel)]="selected"
        (datesUpdated)="datesUpdated($event)"
        name="daterange" />
    </div>
    <div class="entry" *ngFor="let entry of filteredEntries">
      <span>Buy: {{ entry.buy_price }}</span>
      <span>Sell: {{ entry.sell_price }}</span>
      <span>{{ entry.date | date: 'yyyy/MM/dd' }}</span>
    </div>
  </ng-container>
  <ng-container *ngIf="loading === true">
    <div class="placeholder-container">
      <app-loading></app-loading>
    </div>
  </ng-container>
</ion-content>
