<ion-header>
  <ion-toolbar>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="entries$ | async as entries; else loading">
    <div class="entry" *ngFor="let entry of entries">
      <span>Buy: {{ entry.buy_price }}</span>
      <span>Sell: {{ entry.sell_price }}</span>
      <span>{{ entry.date | date: 'yyyy/MM/dd' }}</span>
    </div>
  </ng-container>
  <ng-container #loading>
    <div class="placeholder-container">
      <app-loading></app-loading>
    </div>
  </ng-container>
</ion-content>
