<div class="comparison-container">
  <div class="details-container">
    <div>
      <h4 class="title">{{ comparisonData.label }}</h4>
      <h2 class="price">{{ comparisonData.price }}</h2>
    </div>
    <ion-icon *ngIf="comparisonData.percent >= 0" class="detail-icon" src="assets/svg/arrow-circle-up-outline.svg"></ion-icon>
    <ion-icon *ngIf="comparisonData.percent < 0" class="detail-icon" src="assets/svg/arrow-circle-down-outline.svg"></ion-icon>
  </div>
  <div class="percent-container">
    <ng-container *ngIf="comparisonData.percent >= 0">
      <span class="positive"><ion-icon slot="start" src="assets/svg/arrow-upward-outline.svg"></ion-icon>&nbsp;{{ comparisonData.percent | number: '1.3' }}%</span>&nbsp;Compared to yesterday
    </ng-container>
    <ng-container *ngIf="comparisonData.percent < 0">
      <span class="negative"><ion-icon slot="start" src="assets/svg/arrow-downward-outline.svg"></ion-icon>&nbsp;{{ comparisonData.percent | number: '1.3' }}%</span>&nbsp;Compared to yesterday
    </ng-container>
  </div>
</div>
