.top-container {
    display: flex;
    flex-direction: column;
}

.weekly-container {
    margin: 16px;
}

.loading-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mt-0 {
    margin-top: 0;
}

.mt-1 {
    margin-top: 0.5em;
}

.mt-2 {
    margin-top: 0.5em;
}