<ion-header translucent="true">
  <ion-toolbar>
    <ion-title>Summary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="primary">
        <ion-button color="secondary">
          <ion-icon name="refresh-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title size="large">Summary</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="top-container">
    <app-comparison-card class="mt-2" [loading]="loading" [comparisonData]="buyData"></app-comparison-card>
    <app-comparison-card [loading]="loading" [comparisonData]="sellData"></app-comparison-card>
  </div>
  <div class="weekly-container">
    <app-weekly-table [loading]="loading" [weeklyData]="weeklyData"></app-weekly-table>
  </div>
</ion-content>
